@import "tailwindcss";

.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent; /* gray-300 */
}

.sidebar-scroll::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  opacity: 0;
  transition: opacity 0.2s;
}

.sidebar-scroll:hover::-webkit-scrollbar {
  opacity: 1;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 2px;
}
